.container {
  width: 100%;
  margin: auto;
  width: 900px;
}
.input-details {
  display: flex;
  gap: 50px;
}
.field {
  display: flex;
  flex-direction: column;
}
.input-details input {
  padding: 12px 20px;
  text-align: center;
}
.textarea-box {
  width: 100%;
  height: 80%;
}
